@font-face {
    font-family: 'Gilroy'; src: url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400; font-style: normal;}
/* 400 */
@font-face {
    font-family: 'Gilroy'; src: url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500; font-style: normal;}
/* 500 */
@font-face {
    font-family: 'Gilroy'; src: url('fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600; font-style: normal;}
/* 600 */
@font-face {
    font-family: 'Gilroy'; src: url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700; font-style: normal;}
/* 700 */
@font-face {
    font-family: 'Gilroy'; src: url('fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900; font-style: normal;}
/* 900 */

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Gilroy', sans-serif; font-weight: 400;}

body {background: #f6f6f6;}

.container {max-width: 1200px; margin: 0 auto; padding: 0 20px;}

.header {position: relative; background: linear-gradient(to right,#FD3A01,#FF0000);}
.header-inner {display: flex; justify-content: center; align-items: center; height: 80px;}

.logo img {
    height: 48px; width: auto; display: block;
    user-select: none; -webkit-user-drag: none; -webkit-touch-callout: none;}

.logo {
    position: absolute; left: 20px;}

.logo span {
    display: block; font-size: 20px;}

.nav {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    display: flex;
    gap: 1px;}

.nav a {
    font-family: 'Gilroy', sans-serif; font-weight: 600; font-size: 30px; color: #fff;
    margin-left: 30px; text-decoration: none;}

.nav-icon img {
    width: 45px;
    height: 45px;
    display: block;}

/* PRODUCTS */

.main {
    padding: 100px 0;}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    

}

.product-card {
    background: #fff;
    border-radius: 30px;
    padding: 30px;
    text-align: center;}

.product-card img {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 20px;}

.product-card h3 {
    font-size: 26px;
    margin-bottom: 10px;}

.product-card p {
    font-weight: bold;
    margin-bottom: 15px;}

.product-card ul {
    list-style: none;
    font-size: 14px;
    margin-bottom: 20px;}

.product-card button {
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;}

/* ACTIVE CARD */

.product-card--active {
    background: #ff2a00;
    color: #fff;}

.product-card--active button {
    border-color: #fff;
    color: #fff;}

/* FOOTER */

.footer {
    background: #000;
    color: #fff;
    padding: 60px 0;}

.footer-inner {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 4px;}

.footer-logo {
    font-size: 26px;
    font-weight: bold;}

.footer-col h4 {
    color: #ff2a00;
    margin-bottom: 10px;}

.footer-col a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;}

.footer-col p {
    font-size: 14px;
    margin-bottom: 8px;}